<div class="bg-info">
    <div class="text-center" style="margin-top: 5px;">
        <p><a href="{% url 'article:article_column'%}">栏目管理</a></p>
        <p><a href="{% url 'article:article_post'%}">发布文章</a></p>
        <p><a href="{% url 'article:article_list' %}">文章列表</a></p>
        <p><a href="{% url 'article:article_tag' %}">文章标签</a></p>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 5px;">
        <p><h4>图片管理</h4></p>
        <p><a href="{% url 'image:list_images' %}">图片管理</a></p>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 5px;">
        <p><h4>课程管理</h4></p>
        <p><a href="{% url 'course:manage_course' %}">课程管理</a></p>
        <p><a href="{% url 'course:create_lesson' %}">内容发布</a></p>
    </div>

</div>
