{% extends "base.html" %}

{% load staticfiles %}

{% block title %}search articles{% endblock %}

{% block content %}
<div class="container">
<div style="margin-left: auto;margin-right: auto; width: 90%" ><!--search-->
    <form class="form-horizontal" method="post" action=".">
    <div class="form-group">
        <input id="word" type="text" class="form-control" placeholder="type the word you will search">
        <!-- {{search_form.body}} -->
    </div>
    <div class="form-group text-center">
        <input type="button" class="btn btn-default" onclick="search_articles()" value="SEARCH">
    </div>
    </form>
</div>
<div id="result"></div>
</div>
<!--script type="text/javascript" src='{% static "js/jquery.js" %}'></script-->
<script type="text/javascript">
    function search_articles(){
    	var word = $("#word").val();
    	if (word){
            $.ajax({
            	url: "{% url 'search:search_articles' %}",
            	type: "POST",
            	dataType: 'json',
            	data: {"word": word},
            	success: function(data){
                $("#result").empty();
                for (var i=0; i<data.length; i++){
                  var article = data[i].fields;
                  var title = article.title;
                  var html = '<p style="margin-left:50px;">' + title +"</p>"
                  $('#result').append(html);
                }

              },
            });
    	}
    }

</script>
{% endblock %}
