{% load staticfiles %}    
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.itdiffer.com"><img width="100px" src="{% static 'images/logo.png' %}"></a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="http://www.itdiffer.com">Python</a></li>
                <li><a href="http://www.itdiffer.com">PHP</a></li>
                <li><a href="http://www.itdiffer.com">Git</a></li>
                <li><a href="http://www.itdiffer.com">Linux</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </nav>
</div>
