{% extends "base.html" %}
{% block title %}passowrd change{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Change Password</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    {% if form.new_password1.help_text %}
    <div class="text-left" style="margin-left:400px">
        <p>{{ form.new_password1.help_text|safe }}</p>
    </div>
    {% endif %}
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>{{ form.old_password.label_tag }}</label> 
            <div class="col-md-6 text-left">{{ form.old_password }}</div>
        </div>

        <div class="form-group">
            <label class='col-md-5 control-label text-right'>{{ form.new_password1.label_tag }}</label>
            <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label text-right">{{ form.new_password2.label_tag }}</label>
            <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
        </div>
        <input type="submit" value="Change my password" class="btn btn-primary btn-lg" />
    </form>
</div>
{% endblock %}

