<!-- <script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src="{% static 'js/layer.js'%}"></script>
<script type="text/javascript">
	function del_course(the, course_id){
		var course_name = $(the).parents("tr").children("td").eq(1).text();
    var del_data = "pk="+course_id+"&csrfmiddlewaretoken="+"{{csrf_token}}";
		layer.open({
			type: 1,
			skin: "layui-layer-rim",
			area: ["400px", "200px"],
			title: "删除课程",
			content: '<div class="text-center" style="margin-top:20px"><p>是否确定删除《'+course_name+'》</p></div>',
			btn:['确定', '取消'],
			yes: function(){
				$.ajax({
					url: '{% url "course:delete_course" %}',
					type:"POST",
					data: del_data,
				})
			},
		});
	}
</script> -->
