{% extends "base.html" %}
{% block title %}password reset{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Forgotten your password? Reset, please.</h1>
    <p>Enter your email to set a new password.</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="Send email" class="btn btn-primary btn-lg">
    </form>
</div>
{% endblock %}

