{% extends "base.html" %}
{% block title %}password reset{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">

    <h1>Reset Password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p> 
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>New password</label> 
            <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
        </div>
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>Confirm password</label>
            <div class="col-md-6 text-left">{{ form.new_password2 }}</div> 
        </div>
        <input type="submit" value="Change my password" class="btn btn-primary btn-lg" />
    </form>
</div>
{% endblock %}